<div id="<%= dom_id discipline %>">
  <p>
    <strong>Name:</strong>
    <%= discipline.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= discipline.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= discipline.description %>
  </p>

</div>
