<h1>Редактировать материал</h1>
 
<%= render 'form' %>
 
<%= link_to 'Просмотреть', discipline_material_path(@discipline, @material) %> |
<%= link_to 'Вернуться к списку материалов', discipline_materials_path(@discipline) %>